html {
    --background-color: #161A1D;
    --text-color: white;
    --text-color-highlight: #F17476;
    --text-color-highlight-hover: #e76062;
    --text-color-muted: #D8D8D8;
    --button-color: #E5383B;
    --star-color: #FDFFB6;
    --footer-color: #34383A;
}

/* html[data-theme='light'] {
    --background-color: white;
    --text-color: 161A1D;
} */

* {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,h2{
    color: var(--text-color-highlight);
}

h3,h4,h5,h6 {
    color: black;
}

input {
    border: 0;
    outline: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:hover {
    color: var(--text-color-muted);
}

button {
    border: 0;
    padding: 0;
    cursor:pointer;
}

button:hover {
    color: var(--text-color-muted);
}