html {
    --background-color: #161A1D;
    --text-color: white;
    --text-color-highlight: #F17476;
    --text-color-highlight-hover: #e76062;
    --text-color-muted: #D8D8D8;
    --button-color: #E5383B;
    --star-color: #FDFFB6;
    --footer-color: #34383A;
}

/* html[data-theme='light'] {
    --background-color: white;
    --text-color: 161A1D;
} */

* {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    color: var(--text-color-highlight);
}

h2,h3,h4,h5,h6 {
    color: white;
}

input {
    border: 0;
    outline: none;
    border-radius: .25rem;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:hover {
    color: var(--text-color-muted);
}

button {
    border: 0;
    padding: 0;
    cursor:pointer;
}

button:hover {
    color: var(--text-color-muted);
}

.container {
    margin: 2rem 3rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1em 0;
}

.form-input {
    padding: .5rem;
    border: 1px solid white;
    margin: .5rem 0;
}

.btn {
    padding: .5rem;
    border: 1px solid white;
    background-color: var(--text-color-highlight);
}

.btn:hover {
    color: white;
    background-color: var(--text-color-highlight-hover);
}

.round {
    border-radius: .5rem;
}