  {% extends 'base.html' %}
  {% load static %}

  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'movies.css' %}">
  {% endblock %}

{% block title %}MCU Reviews - Movies{% endblock %}
  {% block content %}

    <h2>Movies</h2>

    <form method=POST action="{% url 'movies' %}">
        {% csrf_token %}
        <div class="form-group-right">
            <select name="sortby" id="sortoptions">
                <option disabled="true" selected>--Sort--</option>
                <option value="yearasc">Sort by year (oldest first)</option>
                <option value="yeardesc">Sort by year (newest first)</option>
                <option value="sortaz" >Sort by title (A-Z)</option>
                <option value="sortza" >Sort by title (Z-A)</option>
            </select>
            <button type="submit"><i id='button' class="btn btn-secondary" type="submit">Sort</i></button>
        </div>
    </form>


  {% if movies %}
    {% for movie,star in movies %}
    <div class="movie-detail">
        <div class="row">
        
            <div class="title">{{ movie.title }} {{movie.year}}</div>
            <div class="stars">

                    
                    
                        {% for star_list in star %}
                        {% if star_list == "Whole" %}
                        <i class="fas fa-star fa-xs"></i>
                        {% elif star_list == "Half" %}
                        <i class="fas fa-star-half-alt fa-xs"></i>
                        {% else %}
                        <i class="far fa-star fa-xs"></i>
                        {% endif %}
                        {% endfor %} 
                    
            </div>
        </div>
        <div class="synopsis">
            Synoposis: {{ movie.synopsis }}
        </div>
        <div class="runtime">
            Runtime: {{ movie.runtime }}
        </div>
        <div class="actors">
            Stars:
            {{ movie.actors.all |join:", " }}
        </div>
        <div class="directors">
            Director(s): {{ movie.directors.all |join:", " }}
        </div>
        <p>
            <a href ="/reviews/{{ movie.title }}">See Reviews</a>
            <br>
            <a href ="/submit-review/{{ movie.title }}">Write Review</a>
        </p>
        <button>
        

    </div>
    {% endfor %}
  {% else %}
      {% if search %}
        Sorry, your search "{{search}}" did not return any movies.
      {% else %}
        Please input something into the search bar to look for movies.
      {% endif %}
  {% endif %}

  <!-- {% if movies %}
    <table>
            <th>Title</th>
            <th>Synopsis</th>
            <th>Year Released</th>
            <th>Runtime</th>
            {% for movie in movies %}
                
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.synopsis }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.runtime }}</td>
                    <td><a href="reviews"><button name="movie_rev"  value={{movie.id}} class='btn round'>
                        Check Reviews {{movie.id}}
                    </button></a></td>
                </tr>
                
                

            {% endfor %}
</table>
{% endif %} -->

    <form method="POST" action="{% url 'export-csv' %}">
    
            {%csrf_token%}
            <div class='sql'>
            <input type="hidden" placeholder="movies" name="sql" value="movie ORDER BY year ASC">
            <button type="submit"><i id='button' class="btn btn-secondary" type="submit">Export CSV</i></button>
            </div>
    </form>

  {% endblock %}