  
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if movies %}
    <table>
            <th>Title</th>
            <th>Synopsis</th>
            <th>Year Released</th>
            <th>Runtime</th>
            {% for movie in movies %}
                
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.synopsis }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.runtime }}</td>
                </tr>
                
                

            {% endfor %}
</table>
{% endif %}



{% endblock %}