{% extends 'base.html' %}
{% load static %}

 {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'people.css' %}">
  {% endblock %}

{% block title %}MCU Reviews - People{% endblock %}

{% block content %}
    <h2>People of the MCU</h2>
    <form method=POST action="{% url 'people' %}">
        {% csrf_token %}
        <div class="form-group-right">
            <select name="sortby" id="sortoptions">
                <option disabled="true" selected>--Sort or Filter--</option>
                <option value="fnasc">Sort by First Name (A-Z)</option>
                <option value="fndesc">Sort by First Name (Z-A)</option>
                <option value="lnasc">Sort by Last Name (A-Z)</option>
                <option value="lndesc">Sort by Last Name (Z-A)</option>
                <option value="actors">See Actors Only</option>
                <option value="directors">See Directors Only</option>
            </select>
            <button type="submit"><i id='button' class="btn btn-secondary" type="submit">Sort</i></button>
        </div>
    </form>
    {% for person in everybody %}
        <div class = "person-detail">
            <div class = "row">
                <div class="name">
                    <a href="{% url 'people' %}{{person.id}}">{{person.first_name}} {{person.last_name}}</a>
                </div>
            </div>
            {% if person in actors %}
                <div class="actor">
                    Actor
                </div>
            {% endif %}
            {% if person in directors %}
                <div class="director">
                    Director
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <!--
    <form method="POST" action="{% url 'export-csv' %}">

            {%csrf_token%}
            <div class='sql'>
            <input type="hidden" placeholder="movies" name="sql" value="reviews WHERE author_id={{request.user.id}}">
            <button type="submit"><i id='button' class="btn btn-secondary" type="submit">Export CSV</i></button>
            </div>
    </form>
    -->
{% endblock %}