{% extends 'base.html' %}
{% load static %}

 {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'people.css' %}">
  {% endblock %}

{% block title %}MCU Reviews - People{% endblock %}

{% block content %}
    <h2>
        {{person.first_name}} {{person.last_name}}
    </h2>
    {% if played %}
        <div class="creditlabel">Acting Credits:</div>
        <div class="alignment">
            <i>
            {{ person.first_name}} {{person.last_name}} plays {{played|length}} character in the MCU.
            {% if agency %}
                Their agent is: {{agency.agency}}
            {% endif %}
            </i>
        </div>
        {% for character in played %}
            <div class = "credits">
                <div class="character">"{{character.character_name}}"</div>
                <div class="alignment">Alignment: {{character.alignment}}</div>
                <div class="alignment">Appears In:
                    {% for mov in character.appearsin%}
                        {% if forloop.first %}
                            {{mov.movie_title}} {{mov.year}}
                        {% else %}
                            , {{mov.movie_title}} {{mov.year}}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if directed %}
        <div class="creditlabel">Directing Credits:</div>
        <div class="synopsis">
            <i>
            {{ person.first_name}} {{person.last_name}} has directed {{directed|length}} movies in the MCU, and {{numdirected.num_directed}} movies in his/her career.
            {% if collaborates %}
                He/she frequently works together with
                {% for collab in collaborates %}
                    {% if forloop.first %}
                        <a href="/people/{{collab.p_id}}">{{collab.first_name}} {{collab.last_name}}</a>
                    {% else %}
                        , <a href="/people/{{collab.p_id}}">{{collab.first_name}} {{collab.last_name}}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </i>
        </div>
        {% for movie in directed %}
            <div class = "credits">
                <div class="row">
                    <div class="movie">{{movie.title}} {{movie.year}}</div>
                    <div class="stars">
                        {% for star_list in movie.stars %}
                            {% if star_list == "Whole" %}
                                <i class="fas fa-star fa-xs"></i>
                            {% elif star_list == "Half" %}
                                <i class="fas fa-star-half-alt fa-xs"></i>
                            {% else %}
                                <i class="far fa-star fa-xs"></i>
                            {% endif %}
                        {% endfor %} 
                    </div>
                </div>

                <div class="synopsis">
                    Synopsis: {{ movie.synopsis }}
                </div>
                <div class="runtime">
                    Runtime: {{ movie.runtime }}
                </div>
                <p>
                    <a href ="/reviews/{{ movie.title }}">See Reviews</a>
                    <br>
                    <a href ="/submit-review/{{ movie.title }}">Write Review</a>
                </p>
            </div>
        {% endfor %}
    {% endif %}
    <!--
    <form method="POST" action="{% url 'export-csv' %}">

            {%csrf_token%}
            <div class='sql'>
            <input type="hidden" placeholder="movies" name="sql" value="review WHERE author_id={{request.user.id}}">
            <button type="submit"><i id='button' class="btn btn-secondary" type="submit">Export CSV</i></button>
            </div>
    </form>
    -->
{% endblock %}