{% extends 'base.html' %}
{% load static %}

{% block title %}MCU Reviews - {{ user.username }}'s Profile{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>About You</h3>
        <table>
        <tr>
            <td>Username &emsp;</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Name &emsp;</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
        <tr>
            <td>Email &emsp;</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Member Since &emsp;</td>
            <td>{{ user.date_joined }}</td>
        </tr>
        <tr>
            <td>Reviews Written &emsp;</td>
            <!--<td>{{ reviews | length }}</td>-->
            <td>{{reviews_count}}</td>
        </tr>
        </table>
        <br>
        {% if reviews %}
            <h3>Here are your reviews</h3>
            <table>
            <th>Movie&ensp;</th>
            <th>Rating&ensp;</th>
            <th>Date Written&ensp;</th>
            <th>Review&ensp;</th>
            <!--<th>Author</th>-->
            {% for review in reviews %}
                <!--{% if review.author == user%}-->
                <tr>
                    <td>{{ review.title }}&ensp;</td>
                    <td>{{ review.stars }}&ensp;</td>
                    <td>{{ review.date_written }}&ensp;</td>
                    <td>{{ review.review_text }}&ensp;</td>
                    <!--<td>{{ review.author }}</td>-->
                </tr>
                <!--{% endif %}!-->
                

            {% endfor %}
            </table>
        {% endif %}
    {% else %}
        No one is logged in at the moment.
    {% endif %}
{% endblock %}