{% extends 'base.html' %}
{% load static %}

 {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'reviews.css' %}">
  {% endblock %}

{% block title %}MCU Reviews - Reviews{% endblock %}

{% block content %}

        {% if movie %}
            <div class="row justify-content-center">
                <div class="text-center">
                    <h3>Reviews for "{{ movie.title }}" {{ movie.year }}</h3>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-center">
                <div class="text-center">
                    <h3>Your reviews</h3>
                </div>
            </div>
        {% endif %}    
        {% if curr_reviews %}
            
            {% comment %} <table>
                {% if not movie %}
                    <th>Movie&ensp;</th>
                {% endif %}
                <th>Rating&ensp;</th>
                <th>Date Written&ensp;</th>
                <th>Review&ensp;</th>
                <th>Author&ensp;</th> {% endcomment %}
                {% for review,star in reviews %}
                    <div class="review-detail">
                        <div class="row">
                        
                            <div class="title">{{ review.title }}</div>
                             <div class="stars">

                                        {% for star_list in star %}
                                        {% if star_list == "Whole" %}
                                        <i class="fas fa-star fa-xs"></i>
                                        {% elif star_list == "Half" %}
                                        <i class="fas fa-star-half-alt fa-xs"></i>
                                        {% else %}
                                        <i class="far fa-star fa-xs"></i>
                                        {% endif %}
                                        {% endfor %} 
                                    
                            </div> 
                        </div>
                        <div class="review">
                            Review: {{ review.review_text }}
                        </div>
                        
                        <div class="author">
                            Written By: {{ review.author }}
                        </div>
                        <div class="date">
                            Date: {{ review.date_written }}
                        </div>

                        {% if user.username in review.author.username %}
                            <div class="date">

                                <a href="/submit-review/{{ review.title.title }}">Update</a>
                                <form method=POST action="{% url 'delete_review' %}">
                                    {%csrf_token%}
                                    <div>
                                        <input type="text" placeholder="Search Movies" name="searchquery">
                                        <button type="submit">Delete</i></button>
                                    </div>
                                </form>

                            </div>
                        {% endif %}

                    </div>

            
                    {% comment %} <tr>
                        {% if not movie %}
                            <td>{{ review.title }}&ensp;</td>
                        {% endif %}
                        <td>{{ review.stars }}&ensp;</td>
                        <td>{{ review.date_written }}&ensp;</td>
                        <td>{{ review.review_text }}&ensp;</td>
                        <td>{{ review.author }}&ensp;</td>
                    </tr> {% endcomment %}
                {% endfor %}
            {% comment %} </table> {% endcomment %}
        {% elif movie %}
            <p>There are no reviews for this movie yet!</p>
            <p><a href ="/submit-review/{{ movie.title }}">Write a Review</a></p>
        {% elif not user.is_authenticated %}
            <p>Please log in to see your reviews!</p>
            <p><href="{% url 'signin' %}">Log In</a></p>
        {% else %}
            <p>There are no reviews!</p>
            <p><a href="{% url 'submit_review' %}">Write a Review</a></p>
        {% endif %}


{% endblock %}