{% extends 'base.html' %}
{% load static %}

{% block title %}MCU Reviews - Reviews{% endblock %}

{% block content %}


{% if reviews %}
            
            <table>
                <th>Movie</th>
                <th>Rating</th>
                <th>Date Written</th>
                <th>Review</th>
                <th>Author</th>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.title }}</td>
                        <td>{{ review.stars }}</td>
                        <td>{{ review.date_written }}</td>
                        <td>{{ review.review_text }}</td>
                        <td>{{ review.author }}</td>
                    </tr>
                    
                    

                {% endfor %}
            </table>
        {% endif %}



{% endblock %}