{% extends 'base.html' %}
{% load static %}

{% block title %}MCU Reviews - Reviews{% endblock %}

{% block content %}

        {% if movie %}
        <div class="row justify-content-center">
            <div class="text-center">
                <h3>Reviews for "{{ movie.title }}" {{ movie.year }}</h3>
            </div>
        </div>
        {% endif %}    
        {% if reviews %}
            
            <table>
                {% if not movie %}
                    <th>Movie&ensp;</th>
                {% endif %}
                <th>Rating&ensp;</th>
                <th>Date Written&ensp;</th>
                <th>Review&ensp;</th>
                <th>Author&ensp;</th>
                {% for review in reviews %}
                    <tr>
                        {% if not movie %}
                            <td>{{ review.title }}&ensp;</td>
                        {% endif %}
                        <td>{{ review.stars }}&ensp;</td>
                        <td>{{ review.date_written }}&ensp;</td>
                        <td>{{ review.review_text }}&ensp;</td>
                        <td>{{ review.author }}&ensp;</td>
                    </tr>
                {% endfor %}
            </table>
        {% elif movie %}
            <p>There are no reviews for this movie yet!</p>
            <p><a href ="/submit-review/{{ movie.id }}">Write a Review</a></p>
        {% else %}
            <p>There are no reviews!</p>
            <p><href="{% url 'submit_review' %}">Write a Review</a></p>
        {% endif %}


{% endblock %}